#orb-contentinfo { padding-top: 0; }
.orb-nav-sec .orb-footer-inner { padding-top: 0; }
pre, code { font-size: 1.2em; }

#blq-content {
	position: relative;
	font-size: 1.3em;
	line-height: 1.6em;
	font-family: arial,sans-serif;
}
.callout {
	box-shadow: 0 0 6px rgba(0,0,0,0.5);
	border-left: 0.5em solid #fff;
	margin: 1.5em 0 1.5em 0;
	padding: 0.75em .5em 0.75em 1em;
}
.highlight-block {
	border-left: 0.5em solid #d4af37;
}

header.masthead {
	text-align: left;
	background: #dfcc28 url('images/masthead.png') top center no-repeat;
}
div#masthead {
	line-height: 115px;
	height: 115px;
	font-size: 24pt;
	font-weight: normal;
	text-transform: uppercase;
	position: relative;
	font-family: "Gill Sans",Arial,sans-serif;
}
header.masthead h1, header.masthead h2 {
	margin: 0;
	display: inline;
	font-size: inherit;
	font-weight: inherit;
}
header.masthead h2 {
	color: #888;
	font-size: 16pt;
}
body.licence #blq-content dd,
body.licence #blq-content li {
	margin-bottom: 16px;
}
body.licence #blq-content dt {
	font-style: italic;
}
aside.note {
	font-style: italic;
	padding: 0 1em;
}

body.bbcarchdev .orb-nav-pri .orb-nav-blocks img {
	width: 290px;
	height: 24px;
}
.blq-clearfix {
	_height:1%;
}
.blq-clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
#all-projects .project {
	border: solid #ccc 1px;
	border-radius: 2px;
	float: left;
	min-height: 160px;
	width: 308px;
	margin-right: 13px;
	margin-bottom: 13px;
}
#all-projects h3 {
	font-size: 2em;
	font-weight: normal;
	margin: 0;
	padding: 10px 8px;
	background: #eee;
	color: #666;
	border-bottom: solid #ccc 1px;
}
#all-projects h3 > a {
	color: inherit;
	text-decoration: inherit;
}
#all-projects h3 > a:hover, #all-projects h3 > a:active {
	color: 000;
	text-decoration: underline;
}
#all-projects p {
	margin: 0;
	padding: 10px 8px;
	font-size: 1.2em;
}
